body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #242423;
    font-family: 'Inter', sans-serif;
    position: relative;
}

* {
    box-sizing: border-box;
}

.input:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

input,
textarea {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    /* По дефолту, шрифтовые свойства, для этих элементов не наследуются */
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
    transition: opacity .3s;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
    transition: opacity .3s;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
}

:focus:-ms-input-placeholder {
    opacity: 0;
}

input {
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    color: rgba(36, 36, 35, 0.5);
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

span {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    width: 1148px;
    margin: 0 auto;
}

.btn-main {
    border-radius: 5px;
    font-size: 12px;
}

select:active,
select:focus {
    outline: none
}

select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
}

select:focus,
select:hover,
option:hover,
option:focus {
    border: none;
    outline: none;
    border: transparent;
}

/***********FIX AFTER MOB**************************/

.consultant-mobile_help {
    display: none;
}

.poposal-wrapper_slider__slide__mobile {
    display: none;
}

.quality-expert_img__mob {
    display: none;
}

.offer-client_img_sm {
    display: none;
}

.call_img-sm {
    display: none;
}

.taxi-img-mob {
    display: none;
}

.feedback_title_mob {
    display: none;
}
.links-mobile {
    position: relative;
}

.header-prev {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: 0; 
}

.swiper-button-next:after, 
.swiper-rtl .swiper-button-prev:after {
    content: '';
    display: none;
}

.swiper-button-prev:after, 
.swiper-rtl .swiper-button-next:after {
    content: '';
    display: none;
}




/*          HEADER          */

.offer {
    padding-top: 42px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}


.links-mobile {
    display: none;
}

.offer_logo {
    display: flex;
    align-items: center;

}

.offer_logo__text {
    width: 115px;
    font-size: 12px;
    margin-left: 14px;
    cursor: pointer;
}

.offer_address {
    font-size: 12px;
    color: rgba(36, 36, 35, 0.5);
}

.offer_address__map-taxi {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.offer_address__city {
    font-weight: 600;
}

.offer_address__map-taxi_item:nth-child(1) {
    width: 78px;
}

.offer_address__map-taxi_item:nth-child(2) {
    width: 89px;
}

.offer_address__map-taxi_item {
    text-decoration: underline;
}

.offer_call {
    font-size: 14px;

}

.offer_call__number {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.offer_call__number:before {
    content: " ";
    display: block;
    width: 10px;
    height: 13px;
    margin-right: 5px;
    cursor: pointer;
    background: url('../img/call.png');
}

.offer_call__online {
    color: rgba(49, 229, 89, 1);
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.offer_call__online:before {
    content: " ";
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid rgba(49, 229, 89, 1);
    background: rgba(49, 229, 89, 1);
}

.offer_btn__order-call {
    border: 1px solid #F2603B;
    color: #F2603B;
    transition: all ease .3s;
    padding: 21px 19px 22px 21px;
}

.offer_btn__order-call:hover {
    background: #F2603B;
    color: #fff;
}

.offer_btn__whatsapp {
    border: 1px solid #4CC261;
    color: #4CC261;
    margin-left: 10px;
    padding: 14px 23px 14px 24px;
    position: relative;
    transition: all .3s ease;
}

.offer_btn__whatsapp:hover {
    background: #4CC261;
    color: #fff;
}


.offer_btn__whatsapp:after {
    content: " ";
    display: block;
    background: url('../img/WhatsApp.svg') no-repeat;
    width: 35px;
    height: 33px;
    position: absolute;
    top: -16px;
    right: -10px;
}

.offer_btn__span {
    display: block;
}

.offer_btn {
    display: flex;
}

/*          CIAN + YANDEX           */

.offer-links {
    display: flex;
    width: 214px;
}

.offer-links_yandex {
    position: relative;
}

.offer-link_yandex__logo {
    position: absolute;
    top: -69px;
    right: -202px;
}

.offer-link_cian__logo {
    position: absolute;
    right: -82px;
    top: -70px;

}

.offer-links_cian {
    position: relative;
}

.offer-link_cian__shild {
    position: absolute;
    right: -38px;
    top: -30px;
}

.offer-link_cian__profi {
    position: absolute;
    font-size: 12px;
    right: -85px;
    top: -25px;
}

.offer-links_border {
    position: absolute;
    top: -85px;
}

.offer-links_border-yandex {
    position: absolute;
    top: -85px;
    right: -216px;
}

/*          NAVIGATION          */

.nav {
    display: flex;
    margin-top: 47px;
    padding-bottom: 28px;
    justify-content: space-between;
}

.nav_links {
    color: #242423;
    font-size: 24px;
    transition: all .3s ease;
}

.nav_links:hover {
    color: #F2603B;
}

.nav_links__estate {
    color: #F2603B;
    display: flex;
    align-items: center;
}

.nav_links__estate.click:after {
    content: " ";
    display: block;
    width: 18px;
    height: 8px;
    margin-left: 9px;
    background: url('../img/hover.png') no-repeat;
}

.nav_links__estate.click {
    color: #FF9D84;
}

.nav_links__estate:hover {
    color: #FF9D84;
}

.nav_links__estate:after {
    content: " ";
    display: block;
    width: 18px;
    height: 8px;
    margin-left: 9px;
    background: url('../img/estate-arrow.png') no-repeat;
}


/*          SECTION HELP        */

.help {
    padding-bottom: 180px;
    background: #F6F8FC;
    padding-top: 84px;
    position: relative;

}

.help:after {
    content: "";
    display: block;
    background-image: url('../img/woman-section.png');
    width: 448px;
    height: 731px;
    position: absolute;
    top: 51px;
    right: 10%;
    z-index: 0;
}

.help:before {
    display: block;
    content: "";
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 448px;
    z-index: 1;
    background: linear-gradient(360deg, #F6F8FC 15.18%, rgba(251, 253, 255, 0) 82.81%);

}

.section-help_title__h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.section-help_title__commercial:after {
    content: " ";
    display: block;
    width: 377px;
    height: 8px;
    background: #F2603B;
    margin-top: -16px;
    margin-left: 212px;
}

.section-help_title__sell {
    display: block;
}

.section-help_title__day {
    color: #F2603B;
}

.section-help_title__search {
    font-size: 24px;
}

.section-help_title__p {
    display: block;
}

.section-help_title_btn {
    font-size: 16px;

}

.section-help_title__btn-consultant {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.section-help_title__consultant-img {
    margin-left: 30px;
    border: 2px solid #F2603B;
    border-radius: 50%;
    margin-right: 12px;
}

.section-help_title__consultant {
    display: flex;
    align-items: center;
}

.section-help_title__consultant___title {
    display: flex;
    flex-direction: column;
}

.section-help_title__consultant-name {
    margin-bottom: 8px;
}

.section-help_search__title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 38px;
    margin-bottom: 20px;
}

.section-help_search__btn {
    background: #F2603B;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    padding: 23px 64px;
    transition: all .3s ease;
}

.section-help_search__btn:hover {
    background: #FF9D84;
}

.section-help_search__form {
    display: flex;
    align-items: center;
    z-index: 999;
}

.input-dropdown {
    width: 410px;
}

.input-span {
    color: #979797;
    font-size: 14px;
    margin-bottom: 5px;
}

.section-help_search__form-input {
    background-color: #fff;
    width: 100%;
    padding: 7px 0px 13px 28px;
    display: flex;
    flex-direction: column;
    border: 1px solid #CFDBD5;

}

.form-input_border {
    border-radius: 10px 0px 0px 10px;
}

.price-span {
    margin-right: 130px;
}

.plaza-span {
    margin-right: 100px;
}

.plaza-span_img {
    margin-bottom: 3px;
}

.price-span_img {
    margin-bottom: 3px;
}

.section-help-consultant {
    bottom: 20px;
    right: 20px;
    position: fixed;
    margin-left: 15px;
    background: #fff;
    z-index: 9999;
}

.section-help-consultant_about__question {
    font-size: 12px;
}

.section-help_search__flex {
    flex-direction: column;
    display: flex;
}

.section-help-consultant {
    padding: 0px 10px 30px 10px;
    border: 1px solid #CFDBD5;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    text-align: center;
}

.section-help-consultant_about__question {
    display: block;
    width: 188px;
}

.section-help-consultant_about__name {
    font-weight: 700;
    font-size: 18px;
}

.section-help-consultant_about__img {
    display: block;
    margin-top: -55px;
    margin-left: 55px;
    margin-bottom: 10px;
}

.section-help-consultant_btn__flex {
    display: flex;
    align-items: center;
    margin-top: 17px;
}

.section-help-consultant_btn {
    margin-bottom: 16px;
}

.btn-consultant {
    padding: 10px 16px;
    margin-left: 10px;
}

.section-help-consultant_btn__whatsapp {
    margin-right: 10px;
}

.section-help-consultant_num {
    font-size: 18px;
}




/*          CATEGORY            */

.category {
    background: #F6F8FC;
    padding-top: 55px;
    padding-bottom: 165px;
}

.category-title_search {
    color: #242423;
    border-bottom: 1px #333533 solid;
}

.category-title {
    font-size: 18px;
    margin-bottom: 44px;
}

.category-all {
    background: #FFFFFF;
    border: 1px solid #CFDBD5;
    border-radius: 10px;
}

.category-all p {
    transition: all .3s ease;
}

.category-all p:hover {
    color: #F2603B;
}


.category-img__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categoty-span {
    display: block;
}

.category-img_factory-text {
    padding: 14px 25px 50px 25px;
}

.categoty-text {
    color: #000;
}

.category-img_places-text {
    padding: 14px 25px 72px 25px;
}

.category-img_warehouse-text {
    padding: 14px 25px 50px 25px;
}

.category-img_factory {
    margin-bottom: 35px;
}

.category-img_places {
    margin-bottom: 35px;
}

.category-img_warehouse {
    margin-bottom: 35px;
}

.category-margin {
    padding: 14px 25px 72px 25px;
}

/*          PROPOSAL            */

.proposal {
    padding-bottom: 100px;
    background: #F6F8FC;
}

.proposal_title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 40px;
}

.proposal_title_mobile {
    display: none;
}

.slider-arrow {
    width: 51px;
    height: 51px;
    background: #F2603B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -30px;
    z-index: 9999;
    transition: all .3s ease;
   
}

.slider-arrow:hover {
    background: #fff;
    border: 1px solid #F2603B;
}


/*svg*/

svg path {
    stroke:inherit;
    stroke-width:inherit;
    
    }


svg {
    stroke: #fff;
    stroke-width:2;
}


.slider-arrow svg:hover {

    stroke: #F2603B;
    stroke-width: 2; 
}






.poposal-wrapper_slider {
    position: relative;
    display: flex;
    align-items: center;
}

.poposal-wrapper_slider__next {
    margin-left: -25px;
}

.poposal-wrapper_slider__area {
    display: none;
    position: absolute;
    left: 80px;
}

.arrow-feedback-mr {
    margin-right: -50px;
}

.poposal-wrapper_slider__area.active {
    display: block;
    top: 40px;
}


.poposal-wrapper_slider__slide {}

.poposal-wrapper_slider__area-title {
    font-size: 38px;
    color: #fff;
}

.poposal-wrapper_slider__area-txt {
    display: block;
    font-size: 64px;
    color: #f5CB5C;
    font-weight: 700;
}

.poposal-wrapper_slider__area-about {
    font-size: 18px;
    color: #fff;
    width: 540px;
    margin-top: 25px;
}

.poposal-wrapper_slider__area-btn {
    color: #242423;
    font-size: 18px;
    margin-top: 32px;
    margin-left: 85px;
}

.dots-for-slider_dot {
    border-radius: 50%;
    background: #fff;
    width: 10px;
    height: 10px;
    z-index: 9999;
}

.dots-for-slider_dot.active {
    background: #F2603B;
}

.dots-for-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

.dots-for-slider_dot:not(:last-child) {
    margin-right: 5px;
}


/*          QUALITY         */

.quality-section {
    background: #2B2B2A;
    position: relative;
    z-index: 9999;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quality-items {
    position: relative;
    z-index: 9999;
}

.quality-section:after {
    z-index: 0;
    content: "";
    height: 100%;
    top: 0;
    width: 100%;
    position: absolute;
    background: url('../img/back-for-section.png');
}

.quality_title {
    font-size: 46px;
    color: #fff;
    margin-bottom: 60px;
}

.quality-items_wrapper__title {
    color: #fff;
    font-size: 24px;
}

.span-for-color {
    color: #f2603b;
}

.quality-items_wrapper {
    background: #242423;
    border-radius: 11px;
    width: 365px;
    padding: 22px 35px 44px 27px;
}

.quality-items_wrapper__text {
    color: #fff;
    margin-bottom: 40px;
    width: 313px;
}

.quality-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.quality-items_wrapper__text__mob {
    display: inline-block;
}

.quality-items_wrapper {
    margin-bottom: 20px;
    margin-right: 20px;
}

.quality-items_wrapper__margin {
    margin: 0;
}

.quality-items_wrapper__paper {
    padding-bottom: 11px;
    height: 356px;
}

.quality-items_wrapper__fast {
    height: 463px;
}

.quality-items_wrapper__difficulties {
    height: 561px;
}

.quality-items_wrapper__car {
    margin-top: -85px;
    height: auto;
    margin-bottom: 0;
}

.quality-items_wrapper__pay {
    height: auto;
    margin-bottom: 0;
    margin-right: 20px;
}

.quality-items_wrapper__people {
    height: auto;
    margin-top: -195px;
}

.quality-expert {
    z-index: 9999;
    position: relative;
}

.quality-expert_img {}

.quality-expert_text {
    padding-left: 30px;
    position: absolute;
    color: #fff;
    top: 0;
}

.quality-expert_text__title {
    width: 420px;
    font-weight: 700;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.quality-expert_text__txt {
    width: 358px;
    margin-bottom: 30px;
}

.quality-expert_text__btn {
    background: #F2603B;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all .3s ease;
}

.quality-expert_text__btn:hover {
    background: #fff;
    color: #F2603B;
}

/*          feedback        */

.feedback {
    padding-top: 80px;
    padding-bottom: 80px;
}

.feedback_title {
    color: #333533;
    font-size: 48px;
    font-weight: 700;
}

.feedback-person {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.feedback-person_offer {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 18px 18px 20px 18px;
    background: #FFFFFF;
    border: 1px solid #CFDBD5;
    box-sizing: border-box;
    border-radius: 10px;
    width: 350px;

    margin-top: 86px;
}

.feedback-person-swiper {
    text-align: center;
    font-size: 18px;
    background: #fff;
    align-items: center;
}


.feedback-person_offer__txt {
    width: 309px;
    margin-bottom: 5px;
}

.feedback-person_offer__name {
    font-weight: 700;
    font-size: 18px;
}

.feedback-person_offer__img {
    margin-top: -70px;
    margin-left: 100px;
    margin-bottom: 12px;
}

.feedback-person_offer__txt-m {
    margin-bottom: 68px;
    width: 300px;
}

.feedback-person_offer__txt-e {
    margin-bottom: 108px;
}

.feedback-person_offer__txt-span {
    display: block;
}

.feedback-person_btn {
    margin-top: 90px;
}

/*          CLIENT          */

.client-section {
    background: #2B2B2A;
    position: relative;
    z-index: 9999;
    padding-top: 100px;
    padding-bottom: 300px;
}

.client-section:after {
    z-index: 0;
    content: "";
    height: 100%;
    top: 0;
    width: 100%;
    position: absolute;
    background: url('../img/back-for-section.png');
}

.offer-client {
    margin-top: 80px;
    display: flex;
    background: #242423;
    border-radius: 10px;
    opacity: 1;
    z-index: 9999;
    position: relative;
    padding: 70px 70px 88px 70px;
}

.offer-client_about {}

.offer-client_about__title {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;


}

.offer-client_about__title-span {
    color: #F2603B;
    display: block;

}

.offer-client_about__txt {
    width: 490px;
    color: #fff;
    margin-bottom: 30px;
}

.offer-client_about__founder {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 88px;
}

.offer-client_img {
    position: absolute;
    top: -86px;
    right: 100px;
}

/*          JOURNAL SECTION         */

.journal {
    padding-bottom: 150px;
    background: #F6F8FC;
}

.call {
    position: relative;
    margin-top: -155px;
    z-index: 9999;
    margin-bottom: 146px;
}

.call_text {
    color: #fff;
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
}

.cal_text__titile {
    font-weight: 700;
    font-size: 36px;
    width: 430px;
}

.cal_text__txt {
    font-size: 18px;
    width: 358px;
    margin-bottom: 30px;
}

.journal-offer {
    color: #242423;
}

.journal-offer_title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
}

.journal-offer_txt {
    width: 666px;
    font-size: 24px;
    margin-bottom: 60px;
}

.journal-offer_title::after {
    content: " ";
    display: block;
    width: 430px;
    height: 8px;
    background: #F2603B;
    margin-top: -14px;
}

.journal-offer_btn {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.journal-offer_btn__item {
    border: 1px solid #F2603B;
    border-radius: 10px;
    padding: 10px 28px;
}

.journal-offer_btn__item.active {
    background: #F2603B;
    color: #fff;
}

.journal-offer_btn__item:not(:last-child) {
    margin-right: 10px;
}

.journal-offer_btn__href {
    text-decoration: underline;
    color: #242423;
    margin-left: 20px;
}

.journal-news_item {

    cursor: pointer;
    position: relative;
}

.journal-content {
    display: flex;
    display: none;
}

.journal-content.active {
    display: flex;
}

.journal-news_item:not(:last-child) {
    margin-right: 10px;
}


.journal-news_item__text {
    position: absolute;
    top: 16px;
    left: 15px;
}

.journal-news_item__title {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    width: 268px;
    margin-bottom: 10px;
}

.journal-nwes_item__txt {
    font-size: 18px;
    color: #FFFFFF;
    width: 290px;
}

.journal-news_item__title-span {
    color: #F2603B;

}

.db-span {
    display: block;
}

.journal-news {
    display: flex;
    justify-content: space-between;
}

.money-color {
    color: #242423;
}

.journal-news_item__title-blue {
    color: #00D1FF;
}


/*          footer          */

.footer {
    background: #242423;
    padding-top: 100px;
    padding-bottom: 20px;
}

.information_contacts__item-img {
    height: 27px;
    width: 27px;
}

.information {
    margin-right: 45px;
}

.information_map__location iframe {
    border-radius: 10px;
    width: 427px;
}

.information_contacts__item-title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.information_contacts__item-txt {
    width: 233px;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}

.information_contacts__item-flex {
    display: flex;
}

.information_contacts__item:not(:last-child) {
    margin-bottom: 30px;
}

.information_contacts__item-txt_span {
    display: block;
}

.information_contacts-social_items {
    display: flex;
    align-items: center;
}

.whatsapp {
    width: 52px;
    height: 46px;
}

.media-img:not(:last-child) {
    margin-right: 10px;
}

.telegram {
    width: 46px;
}

.information_contacts-social_title {
    font-size: 18px;
    margin-top: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}

.information_contacts-social {
    margin-top: 25px;
}

.information_photo {
    flex-wrap: wrap;
}

.photo {
    padding-bottom: 400px;
}

.taxi-img {
    width: 100%;
}

.information-all {
    display: flex;
}

.taxi {
    position: relative;
    margin-top: 30px;
    border-bottom: 2px solid #979797;
    padding-bottom: 48px;
}

.taxi-txt {
    position: absolute;
    top: 30px;
    left: 30px;
    margin-bottom: 30px;
}

.footer-taxi_title {
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    margin-bottom: 20px;
    width: 320px;
}

.taxi-txt_btn {
    margin-bottom: 20px;
    color: #fff;
}

.footer-taxi_title {
    display: block;
}

.taxi-text_pay {
    font-size: 18px;
    color: #fff;
}

.information_contacts__item-photo {
    margin-right: 10px;
    margin-bottom: 10px;
}

.information_contacts__item-photo:nth-child(2) {
    margin-right: 0;
}

.information_contacts__item-photo:nth-child(3) {
    margin-bottom: 0;
}

.politics_txt {
    font-size: 14px;
    color: #fff;
}

.politics {
    margin-top: 17px;
}

.politics_underline {
    border-bottom: 1px solid #fff;
    display: block;
    width: 218px;
}


/*      search html     */

.search-category {
    padding-bottom: 180px;
    background: #F6F8FC;
    padding-top: 80px;
}

.sorting {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: right;

}

.sorting-items {
    border: 1px solid #CFDBD5;
    border-radius: 10px;
    padding: 13px 11px;
    margin-left: 10px;
    background: #fff;
}

.card-items {
    cursor: pointer;
    background: #fff;
    padding: 14px 14px 20px 14px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-items:not(:last-child) {
    margin-right: 21px;
}

.card-items_text {
    width: 327px;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 16px;
    border-bottom: 1px solid #CFDBD5;
}

.card-items_text__title {
    font-size: 24px;
    font-weight: 700;
}

.card-items_text__about {
    font-size: 14px;
}

.card-items_about__num-title {
    color: #242423;
    font-weight: 700;
}

.card-items_about__num:not(:last-child) {
    margin-bottom: 10px;
}

.card-items__flex {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card-items:nth-child(3) {
    margin-right: 0px;
}

.flex-for-consultant {
    display: flex;
}

/*          one item html           */

.photo {
    background: #F6F8FC;
    padding-top: 30px;
}

.nav-one-item {
    display: flex;
    font-size: 14px;
    color: #979797;
}

.nav-one-item_link:not(:last-child) {
    margin-right: 5px;
}

.photo-galery {
    width: 775px;
    margin-top: 30px;
    background: #fff;
    padding: 20px 30px 30px 20px;
    border-radius: 10px;
}

.photo-galery_title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    color: #242423;
}

.galery_about {
    width: 100%;
}

.galery_about-num_title {
    font-weight: 700;
    font-size: 16px;
    margin-right: 5px;
}

.galery_about__title {
    font-weight: 700;
    font-size: 24px;
    color: #242423;
    margin-bottom: 25px;
}

.galery_about-num {
    display: flex;
}

.galery_about-num__txt:not(:last-child) {
    margin-right: 30px;
}

.galery_about {
    margin-right: 30px;
    margin-top: 30px;
}

.galery_about::before {
    background: #CFDBD5;
    content: "";
    height: 1px;
    width: 772px;
    display: block;
    margin-bottom: 30px;
    margin-left: -20px;
}

.galery_about::after {
    background: #CFDBD5;
    content: "";
    height: 1px;
    width: 772px;
    display: block;
    margin-top: 30px;
    margin-left: -20px;
}

.map {
    margin-top: 30px;
}

.map::after {
    background: #CFDBD5;
    content: "";
    height: 1px;
    width: 772px;
    display: block;
    margin-top: 30px;
    margin-left: -20px;
}

.object {
    margin-top: 30px;
}

.object_txt__description {
    display: block;
    width: 715px;
}

.cost-btn {
    width: 275px;
    height: 70px;
}

.cost_btn__span {
    display: block;
}

.btn-flex {
    display: flex;
    flex-direction: column;
}

.cost-name::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #C4C4C4;
    margin-right: 10px;
    display: block;
}

.cost-name {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cost-question_title {
    font-weight: 700;
    font-size: 18px;
    display: block;
}

.cost_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #242423;
    margin-bottom: 20px;
}

.cost-question {
    width: 260px;
}

.cost-question_txt {
    font-size: 14px;
}

.btn-cons {
    padding: 13px 31px;
}

.btn-write {
    color: #F2603B;
    font-size: 16px;
}

.cost-consultant {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.cost {
    background: #fff;
    width: 335px;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    right: 0;
}

.flex-for-section {
    position: relative;
    display: flex;
    align-items: top;
}

.cost-img {
    width: 43px;
    height: 43px;
    margin-left: 11px;
}

.galery_about__frame iframe {
    border-radius: 10px;
    width: 715px;
}

.search_modal {
    position: fixed;
    top: 50%;
    right: 0;
}

/*          SLIDER FOR FEEDBACJ*/
html,
body {
    position: relative;
    height: 100%;
}

body {

    margin: 0;
    padding: 0;
}

.swiper-slide-feedback {
    width: 100%;
    height: 100%;
}

.swiper-slide-feedback {

    font-size: 18px;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide-feedback img {
    display: block;

    object-fit: cover;
}

/********************************/

html,
body {
    position: relative;
    height: 100%;
}


.swiper-button-prev {
    left: -1px;
}


.galery-swiper-slide {
    text-align: center;



    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.galery-swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.galery-swiper {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.galery-swiper-slide {
    background-size: cover;
    background-position: center;
}

.galery-mySwiper2 {

    width: 100%;
}

.galery-mySwiper {

    box-sizing: border-box;
    padding: 10px 0;
}

.galery-mySwiper .galery-swiper-slide {
    width: 30%;
    height: 115px;

}

.galery-mySwipe .galery-swiper-slide-thumb-active {
    opacity: 1;
}

.galery-swiper-slide img {

    object-fit: cover;
}


.dropbtn {

    color: #242423;
    text-align: left;
    font-size: 14px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 438px;
    z-index: 1;
    margin-left: -28px;
    padding-left: 28px;
    border-radius: 10px;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;

    text-decoration: none;
    display: block;
}

.dropdown a:not(:last-child) {
    margin-bottom: 5px;
}

.dropdown a {
    padding: 5px;
    transition: all .3s ease;
}

.dropdown a:hover {
    color: #F2603B;
}



/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}


/*nav*/

.nav-dropdown a {
    color: #242423;
}

.nav-dropdown {
    position: absolute;
    font-size: 18px;
    z-index: 9999;
    left: 20%;
    top: 220px;
    background: #fff;
    width: 380px;
    border-radius: 10px;
    padding: 30px 45px;
    display: none;
}

.nav-dropdown li:not(:last-child) {
    margin-bottom: 25px;
}

.nav-dropdown.click {
    display: block;
}

.nav-dropdown.click a:hover {
    color: #F2603B;
}

.nav-dropdown.click a {
    transition: .3s ease all;
}

.dropdown-cost {
    position: absolute;
    display: none;
    top: 40px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    right: 1px;
    width: 106px;
}

.dropdown-cost li:not(:last-child) {
    margin-bottom: 8px;

}

.dropdown-cost.click {
    display: block;
}

.sortint-items_txt {
    cursor: pointer;
}

.sortint-items_txt.click {
    color: #F2603B;
}

.dropdown-cost li {
    cursor: pointer;
    transition: all .3s ease;
}

.dropdown-cost li:hover {
    color: #F2603B;
}

/*************** MOBILE *****************/

@media (max-width: 1200px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    .offer-links {
        display: none;
    }

    .section-help_search__form-input {
        width: 320px;
    }

    .dropbtn {
        font-size: 12px;
    }

    .section-help_search__btn {
        padding: 23px 47px;
    }

    .category-img__flex {
        justify-content: space-evenly;
    }

    .poposal-wrapper_slider__slide {
        width: 100%;
    }

    .poposal-wrapper_slider__next {
        position: absolute;
        right: 15px;
    }

    .poposal-wrapper_slider__area-title {
        font-size: 28px;
    }

    .poposal-wrapper_slider__prev  {
        position: absolute;
        left: -15px;
    }

    .quality-items {
        justify-content: space-evenly;
    }

    .poposal-wrapper_slider__area {
        left: 50px;
    }

    .poposal-wrapper_slider__area-about {
        margin-top: 15px;
    }

    .poposal-wrapper_slider__area.active {
        top: 20px;
    }

    .quality-items_wrapper__difficulties {
        margin-bottom: 120px;
    }

    

    .quality-items_wrapper__paper {
        margin-top: -180px;
        margin-left: -20px;
    }

    .quality-items_wrapper__car {
        margin-bottom: 235px;
        margin-right: 0;
    }

    .quality-items_wrapper__pay {
        height: 320px;
        margin-top: -290px;
        margin-left: -5px;
    }

    .quality-items_wrapper__people {
        margin-right: 10px;
    }

    .quality-expert {
        margin-bottom: 70px;
    }

    .quality-expert_img {
        width: 100%;
    }

    .quality-expert_text__title {
        margin-top: 15px;
        font-size: 34px;
    }

    .arrow-feedback-mr {
        left: 0;
    }

    .call_img {
        width: 100%;
    }

    .journal-news_item  img {
        width: 100%;
    }

    .information_map__location iframe {
        width: auto;
    }

     .information {
        margin-right: 20px;
    } 

    .taxi-txt {
        top: 10px;
    }

    .footer-taxi_title {
        font-size: 28px;
    }


    /*      one item page       */

    .photo-galery {
        width: 540px;
    }

    .object p {
        width: 515px;
    }

    .galery_about__frame iframe {
        width: 520px;
    }

    .map:after {
        width: 540px;
    }

    .galery_about:before {
        width: 540px;
    }

    .galery_about:after {
        width: 540px;
    }
}


@media (max-width: 1156px) {
    .help:after,
    .help:before {
        right: 0;
    }
}

@media (max-width:992px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }

    .offer {
        display: none;
    }

    .help:after,
    .help:before {
        display: none;
    }

    .section-help_title__h1 {
        font-size: 40px;
    }

    .section-help_title__commercial:after {
        margin-left: 173px;
        width: 327px;
    }

    .nav_links {
        font-size: 20px;
    }

    .nav-dropdown.click {
        left: 10%;
        top: 50px;
    }

    .poposal-wrapper_slider__area-txt {
        font-size: 40px;
    }

    .poposal-wrapper_slider__area-about {
        margin-top: 10px;
        font-size: 16px;
    }

    

    .poposal-wrapper_slider__area-btn {
        margin-top: 10px;
    }

    .poposal-wrapper_slider__area {
        left: 50px;
    }

    .section-help_search__form-input {
        width: 195px;
    }

    .price-span_img {
        display: flex;
        align-items: center;
    }

    .price-span {
        margin-right: 99px;
        width: 155px;
    }

    .quality_title {
        font-size: 40px;
    }

    .quality-items {
        align-items: center;
        flex-direction: column;
    }

    .section-help_search__form-input {
        padding: 7px 0px 11px 13px;
    }

    .form-input_border {
        padding: 4px 0px 3px 14px;
    }

    .plaza-span {
        margin-right: 70px;
    }

    .dropbtn {
        font-size: 12px;
    }

    .section-help_search__btn {
        padding: 23px 47px;
    }

    .category-img__flex {
        justify-content: space-evenly;
    }

    .poposal-wrapper_slider__slide {
        width: 100%;
    }

    .poposal-wrapper_slider__next {
        position: absolute;
        right: 15px;
    }

    .poposal-wrapper_slider__prev  {
        position: absolute;
        left: -15px;
    }

    .quality-items_wrapper__difficulties {
        margin-bottom: 200px;
    }

    .quality-items_wrapper__paper {
        margin-top: -180px;
        margin-left: -20px;
        margin-bottom: 110px;
    }

    .quality-items_wrapper__car {
        margin-bottom: 235px;
        margin-right: 20px;
    }

    .quality-items_wrapper__pay {
        height: 320px;
        margin-top: -210px;
        margin-left: -5px;
        margin-bottom: 220px;
    }

    .quality-items_wrapper__people {
        margin-right: 20px;
    }

    .quality-expert {
        margin-bottom: 70px;
    }

    .quality-expert_img {
        width: 100%;
        
    }

    .quality-expert_text__title {
        margin-top: 15px;
        font-size: 32px;
    }

    .quality-expert_text__txt {
        margin-bottom: 10px;
    }

    .offer-client_img {
        display: none;
    }

    .offer-client {
        padding: 35px 35px 45px 70px;
    }

    .cal_text__titile {
        font-size: 28px;
    }

    .cal_text__txt {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .proposal_title {
        font-size: 42px;
    }

    .feedback_title {
        font-size: 42px;
    }

    .client-section {
        padding-top: 40px;
    }

    .journal-offer_title {
        font-size: 42px;
    }

    .journal-offer_title:after {
        width: 380px;
    }

    .journal-news_item__title {
        width: 240px;
        font-size: 17px;
    }

    .journal-news_item__text {
        left: 5px;
    }

    .journal-nwes_item__txt {
        font-size: 14px;
        width: 222px;
    }

    .call_text {
        top: 10px;
    }

    .arrow-feedback-mr {
        left: 0;
    }

    .call_img {
        width: 100%;
    }

    .journal-news_item  img {
        width: 100%;
    }

    .information {
        flex-basis: 50%;
        margin-right: 0;    
    }

    .information_contacts__item {
        flex-basis: 50%;
    }

    .information_map {
        text-align: center;
        margin-top: 30px;
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .information-all {
        flex-wrap: wrap;
    }

    .information_map__location iframe {
        width: auto;
    }

    .section-help-consultant {
        display: none;
    }

    .taxi-txt {
        top: 10px;
    }

    .footer-taxi_title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .taxi-txt_btn {
        margin-bottom: 10px;
    }

    .taxi-text_pay {
        font-size: 16px;
    }

    .poposal-wrapper_slider__next {
        right: 60px;
    }

    .arrow-slider__next {
        right: 20px !important;
    }

    .arrow-feedback-mr {
        left: 50px;
    }

    /*      one item page       */

    .photo-galery {
        width: 430px;
    }

    .cost_title {
        font-size: 24px;
    }

    .galery_about-num_title {
        font-size: 14px;
    }

    .galery_about-num__txt:not(:last-child) {
        margin-right: 15px;
        
    }

    .cost {
        width: 285px;
        padding: 15px;
    } 

    .object p {
        width: 430px;
    }

    .galery_about__frame iframe {
        width: 410px;
    }

    .map:after {
        width: 430px;
    }

    .galery_about:before {
        width: 430px;
    }

    .galery_about:after {
        width: 430px;
    }

    .photo {
        padding-bottom: 200px;
    }

    /*      search  rage    mobile      */

    .card-items:nth-child(odd) {
        display: none;
    }

}

@media (max-width: 768px) {
    .container{
        width: 540px;
    }
    
    .nav_links {
        font-size: 14px;
        justify-content: space-evenly;
        padding: 0 30px 0 30px;
    }

    .journal-offer_btn__href {
        display: none;
    }

    .journal-nwes_item__txt {
        width: 166px;
        font-size: 12px;
    }

    .feedback_title {
        font-size: 33px;
    }

    .quality-expert_text__title {
        font-size: 28px;
        margin-bottom: 7px;
        margin-top: 2px;
    }

    .offer-client_about__title {
        font-size: 36px;
    }

    .offer-client_about__txt {
        width: 400px;
    }

    .cal_text__titile {
        margin-bottom: 30px;
        font-size: 23px;
    }

    .price-span {
        margin-right: 0;
    }

    .poposal-wrapper_slider__area-about {
        width: 100%;
    }

    .information_contacts__item-title {
        font-size: 28px;
        margin-top: 20px;
    }

    .information_photo {
        width: 340px;
        justify-content: space-evenly;
    }

    .information_contacts__item-photo {
        margin: 0;
    }

    .information_contacts__item-photo:nth-child(1) {
        margin-bottom: 5px;
    }
    
    .information_contacts__item-photo:nth-child(2) {
        margin-bottom: 5px;
    } 

    .information_contacts__item {
        margin: auto;
    }

    .information {
        margin: auto;
    }

    .footer-taxi_title {
        display: inline;
        margin-top: 10px;
    }

    .taxi-txt_btn {
        display: block;
        margin-top: 8px;
        margin-bottom: 1px;
    }

    .cal_text__txt {
        display: none;
    }

    .quality-expert_text__txt {
        font-size: 14px;
    }

    .journal-news_item__title {
        font-size: 14px;
        width: 170px;
    }

    .journal-offer_txt {
        font-size: 18px;
        width: 530px;
    }

    .journal-offer_title {
        font-size: 36px;
    }

    .journal-offer_title:after {
        width: 327px;
    }

    .proposal_title {
        font-size: 36px;
    }

    .poposal-wrapper_slider__area-title {
        font-size: 24px;
    }

    .poposal-wrapper_slider__area.active {
        top: 10px;
        left: 40px;
    }

    .quality_title {
        font-size: 33px;
    }

    .poposal-wrapper_slider__area-txt {
        font-size: 24px;
    }

    .nav_links__estate {
        display: none;
    }

    .section-help_title__h1 {
        font-size: 30px;
    }

    .section-help_title__commercial:after {
        margin-left: 128px;
        width: 240px;
        margin-top: -10px;
    }

    .section-help_title__search {
        font-size: 18px;
    }

    .section-help_search__form {
        flex-wrap: wrap;
    }

    .section-help_search__form-input {
        margin-top: 20px;
        flex-basis: 45%;
        border-radius: 10px;
    } 

    .section-help_search__form-input:nth-child(2) {
        margin-left: 20px;
        margin-right: 10px;
    } 

    .dropbtn {
        font-size: 16px;
    }

    .form-input_border  {
        flex-basis: 100%;
    }

    .section-help_search__btn {
        margin-top: 15px;
        border-radius: 10px;
        margin: 15px auto 0;
    }

    .links-mobile {
        margin-bottom: 40px;
        display: block;
    }

    .link-item {
        font-size: 12px;
        background: #F6F8FC;
        border: 1px solid #CFDBD5;
        border-radius: 4px;
        height: 44px;
        padding: 7px 7px 7px 7px;
        width: 191px;
    }

    .swiper-arrow {
        z-index: 9999;
        display: flex;
        justify-content: space-between;
    }

    .swiper-wrapper-header {
        width: 280px;
    }

    .category-all img {
        width: 200px;
    }

    .category-img {
        flex-basis: 30%;
    }

    .places-padding {
        padding-bottom: 88px;
    }

    .warehous-padding {
        padding-bottom: 91px;
    }
    
    .help {
        padding-bottom: 80px;
    }

    .section-help_search__form-input {
        padding-bottom: 10px;
    }

    .category {
        padding-bottom: 80px;
    }

    .quality-items {
        flex-direction: inherit;
        align-items: normal;
        justify-content: space-between;
    }

    .quality-items_wrapper {
        width: 265px;
        flex-basis: 30%;
        margin-right: 0;
    }

    .quality-items_wrapper__difficulties {
        margin-bottom: 110px;
    }

    .quality-items_wrapper__paper {
        margin-left: 0;
    }

    .quality-items_wrapper__pay {
        margin-top: -330px;
    }

    .quality-items_wrapper__people {
        margin-top: -210px;
    }

    .quality-items_wrapper__text {
        width: 230px;
    }

    .img_width {
        width: 260px;
    }

    .quality-items_wrapper__paper img {
        width: 200px;
    }

    .quality-items_wrapper__car img {
        width: 230px;
    }

    .quality-items_wrapper__people img{
        width: 250px;
    }

    .quality-expert {
        margin-bottom: 0;
        padding: 10px 0 10px 30px;
    }

    .quality-expert_img {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .quality-expert_text {
        position: relative;
    }

    .call {
        margin-top: -90px;
    }

    .client-section {
        padding-bottom: 200px;
    }

    .footer {
        padding-top: 50px;
    }

    .information {
        margin: 0;
        flex-basis: 40%;
        width: 250px;
        margin-right: 30px;
    }

    .information_contacts__item {
        margin: 0;
        flex-basis: 40%;
        width: 250px;
    }
    /*      one item page       */

    .photo-galery {
        width: 430px;
        margin: 0 auto;
    }

    .cost {
        display: none;
    }

    .galery_about__title {
        font-size: 20px;
    }

    .object p,
    .object ul{
        font-size: 14px;
    }

}

@media (max-width: 576px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
    }

    .nav_links {
        padding: 0 5px 0 5px;
    }

    .section-help_title__h1 {
        font-size: 24px;
    }

    .help {
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .section-help_title__commercial:after {
        display: none;
    }

    .section-help_title__search {
        display: none;
    }

    .section-help_title__btn-consultant {
        display: none;
    }

    .section-help_search__title {
        font-size: 14px;
        margin-bottom: 0;
    }

    .input-span {
        font-size: 12px;
    }

    .dropbtn {
        font-size: 12px;
    }

    .section-help_search__form-input  {
        width: 150px;
        padding: 10px 10px 0 10px;
        margin: 10px 0 0 0;
    }

    .section-help_search__form-input:nth-child(2) {
        margin: 10px 10px 0 0;
    }

    .plaza-span_img {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .plaza-span {
        margin: 0;
    }

    .price-span_img {
        justify-content: space-between;
    }

    .price-span {
        margin: 0;
    }

    .quality-expert_img__mob {
        display: block;
    }

    .section-help_search__btn {
        width: 100%;
    }

    .consultant-mobile_help_item {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 20px;
    }

    .offer_btn__order-call {
        padding: 17px 22px;
        font-size: 14px;
        border-radius: 10px;
        margin-right: 20px;
    }

    .section-help_title__consultant-img {
        height: 50px;
        width: 50px;
        margin-left: 0;
    }

    .consultant-mobile_help_txt {
        font-size: 14px;
        color: #242423;
        margin-top: 40px;
    }

    .category {
        padding-bottom: 80px;
    }

    .category-title {
        font-size: 14px;
    }

    .category-img_factory-img,
    .category-img_places-img,
    .category-img_warehouse-img {
        width: 157px;
        height: 80px;
    }

    .category-all {
        width: 159px;
        height: 160px;
    }

    .categoty-text {
        font-size: 12px;
        padding: 5px 8px 15px 8px;
    }

    .category-img {
        flex-basis: 35%;
    }

    .category-all:nth-child(odd) {
        margin-right: 1px;
    }

    .category-all {
        margin-bottom: 10px;
    }

    .proposal_title_mobile {
        display: block;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .proposal_title {
        display: none;
    }

    .poposal-wrapper_slider__next {
        height: 25px;
        width: 25px;
    }

    .poposal-wrapper_slider__prev {
        height: 25px;
        width: 25px;
    }

    .poposal-wrapper_slider__prev img {
        width: 6px;
        height: 11px;
    }

    .poposal-wrapper_slider__next img {
        width: 6px;
        height: 11px;
    }

    .poposal-wrapper_slider__slide {
        display: none;
    }

    .dots-for-slider {
        display: none;
    }

    .poposal-wrapper_slider__area-title {
        font-size: 24px;
    }

    .poposal-wrapper_slider__area-txt {
        font-size: 24px;
    }

    .poposal-wrapper_slider__area-about {
        font-size: 12px;
        width: 226px;
        margin-bottom: 45px;
    }

    .poposal-wrapper_slider__area-btn {
        width: 300px;
        background: #fff;
        color: #242423;
        padding: 15px 0 15px 0;
        margin: 0;
        font-size: 14px;
    }

    .poposal-wrapper_slider__area.active {
        left: 10px;
    }

    .quality_title {
        font-size: 24px;
    }

    .quality-items_wrapper__title {
        font-size: 20px;
    }

    .quality-items_wrapper__text {
        font-size: 14px;
    }

    .quality-items_wrapper {
        width: 100%;
        margin: 0 auto 20px;
        padding: 10px 10px 0 10px;
        overflow: hidden;
    }

    .quality-items_wrapper__fast {
        height: 250px;
    }

    .quality-items_wrapper__difficulties {
        height: 361px;
    }

    .quality-items_wrapper__text__mob {
        display: block;
        margin-top: 10px;
    }

    .quality-items_wrapper__paper,
    .quality-items_wrapper__car,
    .quality-items_wrapper__pay {
        height: 250px;
    }

    

    .quality-expert_img {
        width: 320px;
        height: 190px;
    }

    .quality-expert_img {
        display: none;
    }

    .quality-expert_text__title {
        font-size: 20px;
        margin-bottom: 10px;
        width: 100%;
    }

    .quality-expert_text__txt {
        font-size: 12px;
        width: 220px;
        margin-bottom: 40px;
    }

    .quality-expert_text {
        padding-left: 0;
    }

    .quality-expert_text__btn {
        width: 300px;
        margin-left: 10px;
        font-size: 14px;
    }

    .quality-section{
        padding-bottom: 50px;
    }

    .feedback_title {
        display: none;
    }

    .feedback_title_mob {
        font-size: 24px;
        font-weight: 700;
        color: #2B2B2B;
        margin-bottom: 40px;
    }

    .offer-client_about__title {
        font-size: 20px;
    }
    
    .offer-client_about__txt {
        font-size: 14px;
        width: 240px;
    }

    .offer-client_img {
        display: none;
    }

    .offer-client_img_sm {
        height: 40px;
        width: 40px;
        margin-top: -50px;
    }

    .offer-client {
        align-items: center;
        padding-left: 10px;
    }

    .call_img-sm {
        display: block;
    }

    .taxi-img-mob {
        display: block;
    }

    .offer-client_about__founder {
        font-size: 14px;
    }

    .client-section {
        padding-bottom: 280px;
    }

    .call_img {
        display: none;
    }

    .call {
        margin-top: -210px;
    }

    .cal_text__titile {
        width: 210px;
        font-size: 20px;
    }

    .cal_text__txt {
        font-size: 12px;
        width: 236px;
    }

    .call_text {
        left: 10px;
        width: 210px;
    }

    .call_text button{
        margin-left: 0;
    }

    .journal-offer_btn__href {
        display: none;
    }

    .journal-news_item-mob {
        display: none;
    }

    .journal-offer_title {
         font-size: 24px; 
    }

    .journal-offer_title::after {
        display: none;
    }  

    .journal-offer_txt {
        display: none;
    }

    .journal-offer_btn__item {
        width: 72px;
        padding: 10px 0;
    }

    .journal-offer_btn__item:not(:last-child) {
        margin-right: 5px;
    }

    .input-dropdown {
        width: 100%;
    }

    .information_contacts__item-title {
        font-size: 24px;
    }

    .information_contacts__item-txt {
        font-size: 14px;
    }

    .information_contacts__item-photo:nth-child(odd) {
        margin-right: 5px;
    }

    .information_contacts__item-photo:nth-child(4) {
        margin-right: 0;
        margin-bottom: 0;
    }

    .information_contacts {
        order: 1;
    }

    .footer-taxi_title {
        font-size: 20px;
        width: 100%;
    }

    .taxi-txt_btn {
        
        margin: 0;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .taxi-img {
        display: none;
    }

    .footer-taxi_title {
        display: inline;
    }

    .taxi-txt {
        left: 5px;
    }

    .taxi {
        border: none;
    }

    .politics {
        display: none;
    }

    .information_contacts__item-title {
        font-size: 20px;
        width: 330px;
    }

    .information_contacts__item {
        margin-top: 40px; 
    }

    .instagram {
        display: none;
    }

    .information_contacts__item-title {
        text-align: left;
    }

    .information_map {
        order: 2;
    }

    .information_contacts__item {
        order: 3;
    }

    .category-img__flex {
        justify-content: center;
    }

    
 
    /*      one item page       */

    .photo-galery {
        width: 300px;
        margin: 0 auto;
    }

    .cost-btn {
        width: 145px;
        font-size: 12px;
        margin: 0;
        height: auto;
        padding: 11px 0 11px 0;
    }

    .cost_title {
        font-size: 20px;
    }

    .btn-flex {
        flex-direction: inherit;
    }

    .cost-btn:nth-child(1) {
        margin-right: 10px;
    }

    .galery_about-num {
        flex-direction: column;
    }

    .galery_about-num__txt:not(:last-child) {
        margin-bottom: 10px;
    }

    .map {
        display: none;
    }

    .object {
        background: #fff;
        border: 1px solid #CFDBD5;
        padding: 20px;
        border-radius: 10px;
    }

    .object p {
        width: 230px;
    }

    
    .map:after {
        width: 300px;
    }

    .galery_about:before {
        width: 300px;
    }

    .galery_about:after {
        width: 300px;
    }

    .nav-one-item {
        display: none;
    }

    .photo-galery_title {
        width: 300px;
    }

}

@media (max-width: 370px) {
    .section-help_search__form-input:nth-child(2) {
        margin: 10px 0 1px 0;
    } 
}

@media (max-width:380px) {
    .category-all img {
        width: 100%;
    }

    .quality-items {
        flex-direction: column;
    }

    .quality-items_wrapper__text {
        width: 100%;
    }

    .quality-items_wrapper__fast img {
        margin-bottom: -80px;
        width: 100%;
    }

    .quality-items_wrapper__paper img {
        margin-bottom: -96px;
        width: 100%;
    }

    .quality-items_wrapper__difficulties img {
        margin-bottom: -25px;
        width: 100%;
    }

    .quality-items_wrapper__car img {
        width: 100%;
        margin-bottom: -30px;
    }

    .quality-items_wrapper__people img {
        
        margin-bottom: -140px;
        width: 100%;
    }

    .quality-items_wrapper__people {
        order: 4;
    }

    .quality-items_wrapper__fast {
        order: 1;
        width: 100%;
    }

    .quality-items_wrapper__difficulties {
        order: 2;

    }

    .quality-items_wrapper__paper {
        order: 3;

    }

    .quality-items_wrapper__car {
        order: 5;
        
    }

    .quality-items_wrapper__pay {
        order: 6;
        padding-bottom: 126px;

    }

    .quality-expert_img__mob {
        position: absolute;
        left: 0;
        top: 0;

    }

    .quality-expert_text {
        position: relative;
        padding: 10px 0 0 10px;
    }

    .quality-expert {
        padding: 0;
    }

    .quality-expert_text__btn {
        margin-left: 0;
    }

    .journal-news_item:not(:first-child) {
        display: none;
    }

    .journal-news_item__title {
        font-weight: 600;
        font-size: 24px;
        color: #fff;
        width: 268px;
        margin-bottom: 10px;
    }

    .journal-nwes_item__txt {
        font-size: 18px;
        color: #FFFFFF;
        width: 290px;
    }

    .money-color {
        color: #242423; 
    }
}





/* POPUP */

.overlay {
    padding-top: 60px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
  }
  
  .modal-window-text {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    padding: 60px 48px 0;
    align-items: center;
    margin: auto;
    width: 620px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    z-index: 9999;
  }
  
  
  
  .modal-window-text.active {
    display: block;
  }
  
  .wrapper-modal {
    display: none;
  }
  
  .wrapper-modal.active {
    display: block;
  }

  .modal__title {
      font-size: 24px;
      margin-bottom: 20px;
  }

  .modal__about {
      font-size: 18px;
      color: #242423;
      margin-bottom: 40px;
  }

  .consultant_modal__img {
      width: 65px;
      height: 65px;
      margin-right: 15px;
  }

  .consultant_time {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
  }

  .modal-txt { 
      width: 456px;
  }

  .modal-form:before {
      content: "";
      background: #CFDBD5;
      height: 1px;
      width: 620px;
      top: 0;
      position: absolute;
      right: 0;
      
  }

  .modal-form {
    padding: 20px 50px 50px 50px;
    position: relative;
    background: #f6f8fc; 
    width: 620px;
    margin-left: -48px;
    border-radius:0 0 10px 10px;
  }

  .form_modal__input {
    background: #fff;
    padding: 20px 0 20px 30px;
    border: 1px solid #CFDBD5;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
  }

  

  .form_modal__input::placeholder {
    color: #979797;
  }

  .form-quest {
      margin-bottom: 20px;
      font-size: 18px;
  }

  .modal__btn {
      border-radius: 10px;
      width: 100%;
  }

  .modal__btn:not(:last-child) {
      margin-bottom: 22px;
  }

  .modal_btn_whats {
      margin: 0;
  }